---
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import BaseLayout from "../../Layouts/BaseLayout.astro";
import Icon from "../../components/Icon.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { date, isDraft, title, image },
  },
} = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  image={`https://og.anit.dev/og?title=${title.trim()}&type=blog`}
>
  <button
    transition:persist="back-button-blog"
    slot="extra-header"
    title="go back"
    class={`back-button flex items-center w-fit py-1 underline hover:decoration-slate-400 underline-offset-4 duration-200  dark:text-gray-50 text-gray-950 gap-1`}
  >
    <Icon name="mdi:arrow-left" height={16} width={16} />back
  </button>
  <figure class="w-full overflow-hidden">
    {
      image ? (
        <Image
          transition:name={post.slug + "image"}
          class="object-cover  aspect-video rounded"
          src={image}
          alt={`${title} cover image`}
        />
      ) : (
        <img
          loading={"eager"}
          transition:name={post.slug + "image"}
          class="object-cover aspect-video rounded"
          src={`https://og.anit.dev/og?title=${title}&type=blog`}
          alt={`${title} cover image`}
        />
      )
    }
  </figure>
  <h1 transition:name={post.slug + "heading"}>{post.data.title}</h1>
  <Content />
</BaseLayout>
<script is:inline>
function goBack() {
  window.history.back();
}
document.querySelector(".back-button")?.addEventListener("click", goBack);
</script>
