---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formattedDate } from "../lib/utils";
import BlogImageDummy from "../content/blog_dummy.png";
type Props = CollectionEntry<"blog">;
const {
  data: { date, description, image, isDraft, tags, title },
  ...other
} = Astro.props;
---

<a href={`/blog/${other.slug}`} class="no-underline group" rel="prefetch">
  <article
    class="shadow px-3 py-2 bg-rose-50/50 dark:bg-neutral-900/60 rounded flex flex-col sm:flex-row gap-6 items-center sm:items-start my-4 border-b border-b-sky-500"
  >
    <figure
      class="rounded aspect-video w-full sm:basis-60 flex-grow-0 flex-shrink-0 my-0 max-w-sm overflow-hidden"
    >
      <Image
        loading={"lazy"}
        transition:name={other.slug.trim() + "image"}
        class="object-cover aspect-video rounded"
        src={!!image ? image : BlogImageDummy}
        alt={`${title} cover image`}
      />
    </figure>
    <div class="">
      <h2
        class="!text-lg font-medium my-0 group-hover:text-sky-500 duration-200"
        transition:name={other.slug + "heading"}
      >
        {title}
      </h2>
      <p class="opacity-80 text-sm mt-2 line-clamp-2">{description}</p>
      <time class="opacity-80"><small>{formattedDate(date)}</small></time>
    </div>
  </article>
</a>
