---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formattedDate } from "../lib/utils";
type Props = CollectionEntry<"blog">;
const {
  data: { date, description, image, isDraft, tags, title },
  ...other
} = Astro.props;
---

<a href={`/blog/${other.slug}`} class="no-underline group">
  <article
    class="duration-200 px-3 py-2 bg-yellow-50 dark:bg-neutral-900 rounded flex flex-col sm:flex-row gap-6 items-center sm:items-start my-4 border-b border-b-lime-500"
  >
    <figure
      class="rounded aspect-video w-full sm:basis-60 flex-grow-0 flex-shrink-0 my-0 max-w-sm overflow-hidden"
    >
      {
        image ? (
          <Image
            loading={"lazy"}
            transition:name={other.slug + "image"}
            class="object-cover aspect-video rounded"
            src={image}
            alt={`${title} cover image`}
          />
        ) : (
          <img
            loading={"eager"}
            transition:name={other.slug + "image"}
            class="object-cover aspect-video rounded"
            src={`https://og.anit.dev/og?title=${title}&type=blog`}
            alt={`${title} cover image`}
          />
        )
      }
    </figure>
    <div class="">
      <h2
        class="!text-lg font-bold my-0 group-hover:text-lime-500"
        transition:name={other.slug + "heading"}
      >
        {title}
      </h2>
      <p class="opacity-80 text-sm mt-2">{description}</p>
      <time class="opacity-80"><small>{formattedDate(date)}</small></time>
    </div>
  </article>
</a>
