---
import { Image } from "astro:assets";
import nsit from "./../assets/Others/nsit.jpg";
import anit from "./../assets/Others/anit.jpg";
import keyboard from "./../assets/Others/potrait_keyboard.jpg";
import potrait_leaves from "./../assets/Others/leaves.jpg";
import quote from "./../assets/Others/quote.png";
import potrait_range_rover from "./../assets/Others/night_like.jpg";
---

<div class="columns-2 sm:columns-3 my-8">
  <div class="relative rounded-lg bg-gray-500 h-40 mb-4">
    <Image
      alt="A purple image of A night life bustling town"
      src={quote}
      class="rounded-lg object-cover object-center h-full mt-0"
    />
  </div>
  <div class="relative rounded-lg bg-gray-500 h-80 mb-4 sm:mb-0">
    <Image
      alt="Me standing in front of a railing"
      src={anit}
      class="rounded-lg object-cover object-center h-full mt-0 sm:object-center"
      title={"Anit•Me"}
    />
  </div>
  <div class="relative rounded-lg bg-gray-500 h-40 sm:h-80 sm:mb-4">
    <Image
      alt="Green focus image on leaves blur background"
      src={potrait_leaves}
      class="rounded-lg object-cover object-center h-full mt-0 sm:object-center"
    />
  </div>
  <div class="relative rounded-lg bg-gray-500 h-40 mb-4 sm:mb-0">
    <Image
      alt="Anit Jha College NSUT, Netaji Shubhas University of Technology"
      src={nsit}
      class="rounded-lg object-cover object-center h-full mt-0"
      title={"NSUT• My College"}
    />
  </div>
  <div class="relative rounded-lg bg-gray-500 h-40 mb-4">
    <Image
      alt="vector pattern"
      src={keyboard}
      class="rounded-lg object-cover object-center h-full mt-0"
    />
  </div>
  <div class="relative rounded-lg bg-gray-500 h-80">
    <Image
      alt="Cinematic Keyborad shot"
      src={potrait_range_rover}
      sizes="(min-width: 768px) 213px, 33vw"
      class="rounded-lg object-cover object-center h-full mt-0"
    />
  </div>
</div>
