---
import Icon from "./Icon.astro";

type Props = {
  title: string;
  desc: string;
  ghLink?: string;
  liveLink?: string;
  blogLink: string;
  image?: ImageMetadata;
};
const {
  props,
  props: { ghLink, liveLink, blogLink },
} = Astro;
---

<div>
  <a
    href={blogLink}
    class=` border-t no-underline  bg-neutral-100/50 dark:bg-neutral-900/60 rounded-t flex flex-col items-start justify-between px-3 py-2 w-full my-2 group border-rose-500 `
    rel="prefetch"
  >
    <h3
      class="!text-base capitalize flex gap-1 items-center mt-2 w-full justify-between group-hover:text-rose-500 duration-200"
    >
      {props.title}
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="rotate-45 text-gray-400 group-hover:text-rose-600"
      >
        <path
          d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
          fill="currentColor"></path>
      </svg>
    </h3>
    <p class="text-sm dark:opacity-80 mt-3 line-clamp-3 text-ellipsis">
      {props.desc}
    </p>
  </a>
  <p
    class="py-2 links flex gap-2 text-xs tracking-wider underline-offset-4 -mt-2 pl-2 bg-neutral-200/60 dark:bg-stone-800/60 rounded-b"
  >
    {
      ghLink && (
        <a target="_blank" rel="no-referrer" href={props.ghLink}>
          Github
        </a>
      )
    } |
    {
      liveLink && (
        <a
          href={props.liveLink}
          target="_blank"
          rel="no-referrer"
          class=" dark:text-rose-200 text-rose-800"
        >
          Live site
        </a>
      )
    }
  </p>
</div>
